body {
    background: url(images/background2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
    width: 100%;
    background-size: cover;
}

h1 {
    text-align: center;
    background-color: rgb(255, 255, 255);
}

h2 {
    color: white;
}

#formcontainer {
    margin-top: 125px;
}

form {
    height: 300px;
    width: 400px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.726);
    padding: 20px;
    color: white;
    border-radius: 5px;
}

#eventContainer {
    float: left;
    background-color:white;
    height:275px;
    width:775px;
    padding:20px;
    margin-top:20px;
    margin-bottom:10px;
}
#weatherContainer {
    float: left;
    background-color:white;
    height:275px;
    width:775px;
    padding:20px;
    margin-top:10px;
    margin-bottom:20px;
}
#rssContainer {
    float: right;
    background-color:white;
    height:570px;
    width:290px;
    margin-top: 20px;
    justify-content: center;
}

