body {
    background: url(images/background2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
    width: 100%;
    background-size: cover;
}

h1 {
    text-align: center;
    background-color: rgb(255, 255, 255);
}

h2 {
    color: white;
}

#eventsDiv {
    background-color: white;
    height: 275px;
    margin-bottom: 20px;
}

#weatherDiv {
    background-color: white;
    height: 275px;
}

#contentRow {
    margin-top: 20px;
}

input {
    font-size: 16px;
}

