body {
    background: url(images/background2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
    width: 100%;
    background-size: cover;
}

h1 {
    text-align: center;
    color: white;
}

h2 {
    color: white;
}

#eventsDiv {
    background-color: rgba(0, 0, 0, 0.705);
    height: 275px;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    border-radius: 25px;
    font-size:28px;
    padding:20px;
    text-align:center;
}

#weatherDiv {
    background-color: rgba(0, 0, 0, 0.705);
    height: 275px;
    color: white;
    line-height: 1;
    border-radius: 25px;
}

#contentRow {
    margin-top: 20px;
}

#clicker{
    background-color: rgba(56, 56, 58, 0.89);
    color:rgb(250, 250, 250);
    font-size:24px;
    padding:5px;
    border-radius: 25px;
    text-align: center;
}